.a{
    color:red;
}
span{
    color:yellow;
}
body{
    text-align:center;
    background: linear-gradient(45deg,rgb(209, 121, 203),rgb(7, 212, 151),rgb(209, 121, 203));
}
a{
    text-decoration: none;
    font-size: 20px;
    color:black;

}
h2{
    background: linear-gradient(45deg,rgb(71, 3, 3),black,rgb(71, 3, 3));
    color:white;
    padding:10px;
    border-radius:50%;
    font-family:'Courier New', Courier, monospace;
    box-shadow: 0px 2px 1px 1px rgb(41, 2, 2);
    width:500px;
    margin:auto;
}
table{
     width:100%;
      
}
img{
    border-radius: 20px;
    margin-top:25px;
    width:250px;

}
#b{
    width: 400px;
}
footer{
    background-color:lightgray;
}